<ion-header>
  <ion-toolbar color="primary">
    <ion-title>e/boat-log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Create -->
  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            
          </ion-card-header>
        
          <ion-card-content>

            <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-item>
                  <ion-label position="floating">Date</ion-label>
                  <ion-datetime [(ngModel)]="startDateVal"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-item>
                  <ion-label position="floating">Start Time</ion-label>
                  <ion-datetime displayFormat="HH:mm" [(ngModel)]="startTimeVal"></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="12">
                <ion-item>
                  <ion-label position="floating">End Time</ion-label>
                  <ion-datetime displayFormat="HH:mm" [(ngModel)]="endTimeVal"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>

            <!-- <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-item>
                  <ion-label position="floating">End Time</ion-label>
                  <ion-datetime displayFormat="HH:mm" [(ngModel)]="endTimeVal"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row> -->

            <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-item>
                  <ion-label position="floating">Departure Point</ion-label>
                  <ion-input [(ngModel)]="departurePointVal"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-item>
                  <ion-label position="floating">Arrival Point</ion-label>
                  <ion-input  [(ngModel)]="arrivalPointVal"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-item>
                  <ion-label position="floating">Average Speed</ion-label>
                  <ion-input  [(ngModel)]="avespeedVal"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-item>
                  <ion-label position="floating">Fuel</ion-label>
                  <ion-input  [(ngModel)]="fuelVal"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-item>
                  <ion-label position="floating">Weather</ion-label>
                  <ion-input  [(ngModel)]="weatherVal"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>                     
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  <ion-button color="primary" expand="block" (click)="createVessel()">
    Submit
  </ion-button>
  <ion-button color="primary" expand="block" (click)="exportAsXLSX()"><i class ="fa fa-file-excel-o"
    style="font-size: 48px; color:blue"></i> Extract
  </ion-button>
        <!-- <ion-button color="success" expand="block" (click)="exportToExcel()">Export to Excel</ion-button> -->

        
        <!-- Read -->
        <!-- <ion-list> -->
          <!-- <ion-item *ngFor="let vessel of crud.VESSELS">
            <ion-label>
              <h2><strong >{{ vessel.startDate | date:'mediumDate' }}</strong></h2>
              <p>{{ vessel.startTime | date:'shortTime' }}</p>
              <p>{{ vessel.endTime | date:'shortTime' }}</p>
              <p>{{ vessel.departurePoint }}</p>
              <p>{{ vessel.arrivalPoint }}</p>
              <p>{{ vessel.avespeed }}</p>
              <p>{{ vessel.fuel }}</p>
              <p>{{ vessel.weather }}</p>
            </ion-label>

            <div class="item-note" item-end>
              <ion-icon color="primary" name="create" style="zoom:1.3" [routerLink]="['/edit/', vessel.vessel_id]"></ion-icon>
              
              <ion-icon color="danger" name="trash" style="zoom:1.3" (click)="remove(vessel.vessel_id)"></ion-icon>
            </div>
          </ion-item> -->

     
      <ion-grid>
        <!-- <ion-row align-item-center justify-content-center> -->
          <!-- <ion-col size-sm="4" size-md="2" offset="2" offset-md="4">#</ion-col> -->
          <!-- <ion-col col-sm-12 col-md-4 col-lg-2>Start Date</ion-col>
          <ion-col col-sm-12 col-md-4 col-lg-2>Start Time</ion-col>
          <ion-col col-sm-12 col-md-4 col-lg-2>End Time</ion-col>
          <ion-col col-sm-12 col-md-4 col-lg-2>Departure Port</ion-col>
          <ion-col col-sm-12 col-md-4 col-lg-2>Arrival Port</ion-col>
          <ion-col col-sm-12 col-md-4 col-lg-2>Ave Speed</ion-col>
          <ion-col col-sm-12 col-md-4 col-lg-2>Fuel</ion-col>
          <ion-col col-sm-12 col-md-4 col-lg-2>Weather</ion-col>
          <ion-col col-sm-12 col-md-4 col-lg-2>Action</ion-col>
        </ion-row> -->
        <ion-row *ngFor="let vessel of crud.VESSELS; index as i">
          <!-- <ion-col>{{ i + 1 }}</ion-col> -->
          <ion-col size="2" size-xs="2">{{ vessel.startDate | date:'mediumDate' }}</ion-col>
          <ion-col size="2" size-xs="2">{{ vessel.startTime | date:'shortTime' }} -- {{ vessel.endTime | date:'shortTime' }}</ion-col>
          <ion-col size="3" size-xs="3">{{ vessel.departurePoint }} -- {{ vessel.arrivalPoint }}</ion-col>
          <ion-col size="1" size-xs="1">{{ vessel.avespeed }}</ion-col>
          <ion-col size="1" size-xs="1">{{ vessel.fuel }}</ion-col>
          <ion-col size="1" size-xs="1">{{ vessel.weather }}</ion-col>
          <ion-col size="2" size-xs="2"><div class="item-note" item-end>
            <ion-icon color="primary" name="create" style="zoom:1.3" [routerLink]="['/edit/', vessel.vessel_id]"></ion-icon>
            
            <ion-icon color="danger" name="trash" style="zoom:1.3" (click)="remove(vessel.vessel_id)"></ion-icon>
          </div></ion-col>
           </ion-row>
      </ion-grid>
    
       <!-- </ion-list> -->
</ion-content>